<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.bean.Teacher" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="teacherName" property="teachername" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="REAL" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, teacherName, sex, salary, birthday
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neusoft.bean.Teacher" >
    insert into teacher (id, teacherName, sex, 
      salary, birthday)
    values (#{id,jdbcType=INTEGER}, #{teachername,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{salary,jdbcType=REAL}, #{birthday,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.bean.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teachername != null" >
        teacherName,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teachername != null" >
        #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=REAL},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.bean.Teacher" >
    update teacher
    <set >
      <if test="teachername != null" >
        teacherName = #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=REAL},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.bean.Teacher" >
    update teacher
    set teacherName = #{teachername,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=REAL},
      birthday = #{birthday,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>